.inputsContainer {
    margin: 0px 20px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 650px;
    transition: 200ms;
    gap: 25px;
}

@media (max-width: 550px) {
    .inputsContainer {
        gap: 10px;
    }
}

.barContainer {
    position: relative;
}

.searchBar {
    /* max-width: 500px; */
    background-color: #191919;
    border: 1.5px solid #0A0A0A;
    width: 600px;
    border-radius: 4px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    padding: 10px 12px;
    padding-left: 44px;
    transition: 200ms;
    color: #D6D6D6;
}

.searchBar::placeholder {
    color: #737373;
}

.searchBar:focus {
    outline: none;
    background-color: #121212;
    border-color: #EE6C13;
    box-shadow: 0 0 0 2px #FFB583;
}

/* .searchBar:focus svg {
    visibility: hidden;
} */

.searchDateIcon,
.searchIcon {
    position: absolute;
    top: 10px; /* Distância marginTop text */
    left: 12px;
    transition: 200ms;
}

.searchDateIcon {
    left: 11px;
}

.searchIconPath,
.searchDateIconPath {
    transition: 200ms;
}

.searchBar:focus ~ label .searchIcon path,
.searchBar:focus ~ label .searchDateIcon path {
    fill: #F8F8F8;
}
