@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;500&display=swap');

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  color: #FFFFFF;
  background-color: #0D0D0D;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button:focus {
  visibility: hidden;
}

button,
input {
  display: block;
}

a {
  text-decoration: none;
}
